Checks: '*,-modernize-use-trailing-return-type,-readability-redundant-access-specifiers,-google-runtime-references,-google-objc-function-naming,-hicpp-special-member-functions,-cppcoreguidelines-special-member-functions,-hicpp-braces-around-statements,-cppcoreguidelines-owning-memory,-readability-static-accessed-through-instance,-readability-isolate-declaration,-fuchsia-default-arguments-calls,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-named-parameter,-fuchsia-trailing-return,-google-readability-braces-around-statements,-cppcoreguidelines-pro-type-static-cast-downcast,-readability-implicit-bool-conversion,-hicpp-signed-bitwise,-google-runtime-int,-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers,-fuchsia-overloaded-operator,-google-readability-todo,-fuchsia-default-arguments-declarations,-readability-braces-around-statements,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay'
