Checks: '*,-hicpp-braces-around-statements,-readability-isolate-declaration,-fuchsia-default-arguments-calls,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-named-parameter,-fuchsia-trailing-return,-oogle-readability-braces-around-statements,-cppcoreguidelines-pro-type-static-cast-downcast,-readability-implicit-bool-conversion,-hicpp-signed-bitwise,-google-runtime-int,-cppcoreguidelines-avoid-magic-numbers,-fuchsia-overloaded-operator,-google-readability-todo'
